extends layout

block content
  style.
    ul.nav li.nav-home a{
      color: #9AD22D;
      background-color: #fff;
    }

  section.banner
    div.container
      div.row
        div.col-md-12.banner-text.text-center
          h2 PayPal UIE
          a(href="/sendmoney") Send Money
          span &nbsp; &nbsp;
          a(href="/transactions") View Transactions
          span &nbsp; &nbsp;
          a(href="/history") View Transactions History

