doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700|Raleway:400,100,200,300,600')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/mockup.css')

  body
    header.header
      div.container
        nav.nav.navbar-default
          div.navbar-header
            button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#mynavbar", aria-expanded="false", aria-controls="navbar")
              span.fa.fa-bars
            a.navbar-brand(href="/") PayPal UIE
          div#mynavbar.collapse.navbar-collapse.navbar-right
            ul.nav.navbar-nav
              li.nav-home
                a(href="/") Home
              li.nav-sendmoney
                a(href="/sendmoney") Send Money
              li.nav-transactions
                a(href="/transactions") View Transactions
              li.nav-history
                a(href="/history") View Transactions History
    block content
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/bootstrap.min.js')

