//
   Created by Pradeep on 12/23/2015.

extends layout

block content
    link(rel='stylesheet', href='/stylesheets/send_money.css')
    div.container
        div.col-md-12.text-head
            h2.text-center Send Money
        div.col-md-12
            div.col-md-6(style="margin: 0 25%;")
                form#sendmoney_form(method="POST", action="/sendmoney", autocomplete="off")
                    div.form-group Email
                        span.required &nbsp;*
                        input.form-control(type="text", name="email", value="#{email || ''}")
                        if email_flag
                            div.error * Enter valid email id
                    div.form-group Amount
                        span.required &nbsp;*
                        div(style="position: relative;")
                            span#currency !{sign || "&#36;"}
                            input.form-control(type="text", name="amount", onkeydown="check_keycode(event);", onkeyup="set_decimal(this);",
                            style="display: inline-block; width: 70%; padding-left: 6%;", value="#{amount || ''}")
                            select.form-control(name="currency", onchange="change_currency(this);",
                            style="display: inline-block; width: 30%")
                                option(value="USD", selected = (currency == "USD" ? "selected" : false)) USD
                                option(value="EUR", selected = (currency == "EUR" ? "selected" : false)) EUR
                                option(value="JPY", selected = (currency == "JPY" ? "selected" : false)) JPY
                        if amount_flag
                            div.error * Enter valid amount
                    div.form-group Message (optional)
                        textarea.form-control(name="message") #{message}
                    div.form-group What's this payment for?
                    div.checkbox
                        div
                            input(type="radio", name="trans_for", value="1", style="margin-right:5px;",
                            checked = trans_for === undefined ? true : (trans_for == "1" ? true : false))
                            | I'm sending money to family or friends
                        div
                            input(type="radio", name="trans_for", value="2", style="margin-right:5px;", checked = (trans_for == "2" ? true : false))
                            | I'm paying for goods or services
                    div
                        input.btn.btn-default(type="reset", value="Clear", style="margin-right:5px;")
                        input.btn.btn-default(onclick="send_money();", value="Send Money")
    div#load_screen.overlay
        div#facebook
            div#block_1.facebook_block
            div#block_2.facebook_block
            div#block_3.facebook_block

    script(src='/javascripts/send_money_page.js')
