//
   Created by Pradeep on 12/23/2015.

extends layout

block content
    link(rel='stylesheet', href='/stylesheets/transactions.css')
    style.
        ul.nav li.nav-transactions a {
            color: #9AD22D;
            background-color: #fff;
        }
    div.container
        div.col-md-12.text-head
            h2.text-center Transaction History
        div.col-md-12
            div.col-md-12.trans-header
                div.trans-details
                    div.col-md-4.col Date
                    div.col-md-4.col Sent To
                    div.col-md-4.col Amount
            each tran in trans
                div.col-md-12.trans-item(onclick="view_more_details(this);")
                    div.trans-details
                        div.col-md-4.col= tran.date
                        div.col-md-4.col= tran.email
                        div.col-md-4.col !{tran.currency + ' ' + tran.amount}
                    div.col-md-12.trans-more-details
                        div(style="text-align: left;")
                            if tran.trans_for
                                if tran.trans_for == 1
                                    p Transaction Type: I'm sending money to family or friends
                                else if tran.trans_for == 2
                                    p Transaction Type: I'm paying for goods or services
                            p Note: #{tran.message || 'NA'}

    script(src='/javascripts/transactions_page.js')

