//
   Created by Pradeep on 12/23/2015.

extends layout

block content
    style.
        ul.nav li.sendmoney a {
            color: #9AD22D;
            background-color: #fff;
        }

    div.container
        div.col-md-12.desc-text
            p.text-center You have sent !{sign + amount} to #{email}
        div.col-md-12.text-center.banner-text
            a(href="/sendmoney") Send Money
            span &nbsp; &nbsp;
            a(href="/transactions") View Transactions
