//
   Created by Pradeep on 12/23/2015.

extends layout

block content
    link(rel='stylesheet', href='/stylesheets/transactions.css')
    style.
        ul.nav li.nav-history a {
            color: #9AD22D;
            background-color: #fff;
        }
    div.container
        div.col-md-12.text-head
            h2.text-center Transaction History
        div.col-md-12
            div.col-md-12.trans-header
                div.trans-details
                    div.col-md-4.col Date
                    div.col-md-4.col Sent To
                    div.col-md-4.col Amount
            - var trans = JSON.parse(data);
            for tran in trans
                div.col-md-12.trans-item(onclick="view_more_details(this);")
                    div.trans-details
                        div.col-md-4.col #{tran.date}
                        div.col-md-4.col #{tran.first_name + ' ' + tran.last_name}
                        div.col-md-4.col #{tran.amount}
                    div.col-md-12.trans-more-details
                        div(style="text-align: left;")
                            p Transaction Id: #{tran.id}
                            p Email: #{tran.email}

    script(src='/javascripts/transactions_page.js')
