ul.nav li.nav-sendmoney a {
    color: #9AD22D;
    background-color: #fff;
}

span#currency {
    width: 5%;
    display: inline-block;
    text-align: center;
    position: absolute;
    left: 1%;
    top: 29%;
}

span.required, div.error {
    color: #ff0000;
}

textarea.form-control {
    height: 70px;
}

.overlay.active {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.2); /*dim the background*/
    position: absolute;
}

.overlay.active #facebook {
    position: fixed;
    top: 50%;
    left: 50%;
}

.overlay.active .facebook_block {
    background-color: #9FC0FF;
    border: 2px solid #3B5998;
    float: left;
    height: 30px;
    margin-left: 5px;
    width: 8px;
    opacity: 0.1;
    -webkit-transform: scale(0.7);
    -webkit-animation-name: facebook;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: linear;
}

.overlay.active #block_1 {
    -webkit-animation-delay: .3s;
}

.overlay.active #block_2 {
    -webkit-animation-delay: .4s;
}

.overlay.active #block_3 {
    -webkit-animation-delay: .5s;
}

@-webkit-keyframes facebook {
    0% {
        -webkit-transform: scale(1.2);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(0.7);
        opacity: 0.1;
    }
}