.trans-header {
    background-color: rgba(0, 0, 0, 0.26);
    font-weight: bold;
}

.trans-item {
    background-color: rgba(25, 169, 229, 0.26);
}

.trans-header, .trans-item {
    text-align: justify;
    border: 1px solid #ffffff;
    border-radius: 4px;
}

.trans-details .col {
    padding: 7px;
    min-height: 30px;
}

.trans-more-details {
    padding: 7px;
    min-height: 70px;
    display: none;
    background: #fff;
    margin-bottom: 18px;
}

@media (min-width: 992px) {
    .trans-item, .trans-header {
        text-align: center;
    }
}